# Database
DB_URL=jdbc:postgresql://localhost:5432/marketplace_bi
DB_USERNAME=postgres
DB_PASSWORD=postgrespassword
SPRING_PROFILES_ACTIVE=dev

# Server
PORT=8080

# JPA
SHOW_SQL=false

# JWT
JWT_SECRET=dGhpcy1pcy1hLXNlY3VyZS1kZWZhdWx0LXNlY3JldC1rZXktZm9yLWp3dC1hdXRoZW50aWNhdGlvbi0yNTYtYml0cw==
JWT_EXPIRATION=3600000
JWT_REFRESH_EXPIRATION=86400000

# CORS (origens separadas por virgula)
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173,https://bi.bielsolosos.dev.br
